<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ClockWidget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFDE40681E626E64003F0A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFDE40791E626E64003F0A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFDE40841E626E64003F0A20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
